.courseDetail-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.clipartlogo.com/files/istock/previews/7379/73798957-web-and-software-developer.jpg');
    background-size: cover;
    margin-bottom: 20px;
}

.courseDetail-headerText{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
}

.courseDetail-headerText >p{
    margin: 30px 0px;
}

.enroll-btn{
    width: 250px;
}

.objectives-container{
    margin:0 80px;
    padding: 10px 40px;
    border-bottom:lightgray solid 1px;
}

.objectives{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 15px 0;
}


.objective{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
}
.objective > i{
    margin-right: 15px;
    font-size: 15px;
}

.instructors{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 15px 0;
}

.instructor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.instructor-image{
    margin: 15px 0;
    background-color: gray;
    height: 120px;
    width: 120px;
    object-fit: contain;
    border-radius: 100px;
}

.instructor-details{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    line-height: 0%;
}
.instructor-details > h5{
    font-size: 15px;
    margin-bottom: 12px;
    
}
.instructor-details  > p{
    font-size: 10px;
    color: gray;
    margin: 8px 0;
}
.instructor-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    
}
.instructor-icons >p{
    margin: 8px 0;
    font-size: 10px;
    
}
.readmore{
    margin: 30px 0;
}
.read-more-button{
    color: #286DA8;
    margin-top: 15px;
}
.read-more-button:hover{
    color: #4591d3;
}
@media screen and (max-width:670px){
    .objectives-container{
        margin: 0;
    }
    .objectives{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .objective{
        width: 100%;
    }
    .instructor{
        width: 100%;
    }
}